{{ define "main" }}

{{ .Content }}




{{/* Intro summary section */}}

{{ if or .Site.Params.homeIntroTitle .Site.Params.homeIntroContent .Site.Params.homeContent }}
<div class="intro">
    {{ with .Site.Params.homeIntroTitle }}
    <h1>{{ . }}</h1>
    {{ end }}

    {{ with .Site.Params.homeIntroContent }}
    <p>{{ .  |markdownify |safeHTML }}</p>
    {{ end }}
</div>
{{ end }}


{{/* Schedule */}}

{{ $table := .Site.Params.schedule }}
{{ if $table }}
<div class="schedule-table-wrapper ">
  <table class="schedule-table">
    <thead>
      <tr>
        {{ range $table.headers }}
          <th>{{ . }}</th>
        {{ end }}
      </tr>
    </thead>
    <tbody>
      {{ range $i, $row := $table.rows }}
        <tr>
          {{ range $cell := $row }}
            <td>{{ $cell | safeHTML }}</td>
          {{ end }}
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}

{{/* Content */}}

{{ with .Site.Params.homeContent }}
<div class="intro">
    <p>{{ .  |markdownify |safeHTML }}</p>
</div>
{{ end }}

{{/* Schedule */}}

{{ with .Site.Params.focs.description }}
<div class="intro">
    <p>{{ .  |markdownify |safeHTML }}</p>
</div>
{{ end }}
{{ $table := .Site.Params.focs }}
{{ if $table }}
<div class="focs-table">
  <details>
    <summary style="font-weight: bold">FOCS Papers</summary>
    <div class="schedule-table-wrapper ">
      <table class="schedule-table">
        <thead>
          <tr>
            {{ range $table.headers }}
              <th>{{ . }}</th>
            {{ end }}
          </tr>
        </thead>
        <tbody>
          {{ range $i, $row := $table.rows }}
            <tr>
              {{ range $cell := $row }}
                <td>{{ $cell | safeHTML }}</td>
              {{ end }}
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </details>
</div>
{{ end }}

{{ with .Site.Params.bus }}
<div class="intro">
    <p>{{ .  |markdownify |safeHTML }}</p>
</div>
{{ end }}

{{/* Social Icons */}}

{{ with site.Params.social }}
<div class="social-icons">
    {{- range . }}
    <a href="{{ trim .url " " | safeURL }}" target="_blank"
        rel="noopener noreferrer me"
        title="{{ (.title | default .name) | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end }}
</div>
{{ end }}




{{/* Collection Section */}}

{{ if .Site.Params.homeCollection }}

<div class="list-container">
    {{ with .Site.Params.homeCollectionTitle}}
    <h1> {{ . }} </h1>
    {{ end }}

    {{ $pages := where .Site.RegularPages "Section" .Site.Params.homeCollection
    }}

    {{ $paginationSize := 1}}
    {{ if (gt .Site.Params.paginationSize 0) }}
    {{ $paginationSize = .Site.Params.paginationSize }}
    {{ end }}

    {{ $paginator := .Paginate $pages $paginationSize }}

    {{ range $index, $page := $paginator.Pages }}
    {{ partial "post-entry.html" $page}}
    {{ end }}

    {{ partial "pagination-controls.html" $paginator}}

    {{ end }}
</div>

{{ end }}